#imagen { 
    transition: transform 0.2s ease-in-out;
    border-radius: 12px; } 
    #imagen:hover { transform: scale(1.5);}

body {
    background-image: url("../images/fondo.jpg");
    }

#principal {
    /*background-color: #cccccc;*/
    opacity: 1;
}