#imagen { 
    transition: transform 0.2s ease-in-out; } 
    #imagen:hover { transform: scale(2);}

.bg-image{
    background-image: url('assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;        
}